/* styles.css */
.element-container:has(style){
    display: none;
}

/* ---------- green btns ---------- */
#button-after-green {
    display: none;
}
.element-container:has(#button-after-green) {
    display: none;
}
.element-container:has(#button-after-green) + div button {
    background-color: #2e8b57;
}
/* Hover state */
.element-container:has(#button-after-green) + div button:first-child:hover {
    background-color: #3cb371;
    color: white;
    border-color: #3cb371;
    }
/* Focus state (after click) */
.element-container:has(#button-after-green) + div button:first-child:focus {
    background-color: #3cb371 !important;
    color: white !important;
    border-color: #3cb371 !important;
    outline: none !important;
}
/* Active state (clicking) */
.element-container:has(#button-after-green) + div button:first-child:active {
    background-color: #2e8b57 !important; /* even darker green */
    color: white !important;
    border-color: #2e8b57 !important;
}

/* ---------- red btns ---------- */
#button-after-red {
    display: none;
}
.element-container:has(#button-after-red) {
    display: none;
}
.element-container:has(#button-after-red) + div button {
    background-color: #ff3333;
    color: white;
}
/* Hover state */
.element-container:has(#button-after-red) + div button:first-child:hover {
    background-color: #ff4b4b;
    color: white;
    border-color: #ff3333;
    }
/* Focus state (after click) */
.element-container:has(#button-after-red) + div button:first-child:focus {
    background-color:#ff4b4b !important;
    color: white !important;
    border-color: #ff4b4b !important;
    outline: none !important;
}
/* Active state (clicking) */
.element-container:has(#button-after-red) + div button:first-child:active {
    background-color: #ff4b4b !important; /* even darker green */
    color: white !important;
    border-color: #ff4b4b !important;
}


/* ---------- basic btns ---------- */
#button-after-basic {
    display: none;
}
.element-container:has(#button-after-basic) {
    display: none;
}
.element-container:has(#button-after-basic) + div button:first-child:hover {
    border-color: #2e8b57;
    color: white;
    }
/* Focus state (after click) */
.element-container:has(#button-after-basic) + div button:first-child:focus {
    background-color: #1e1e1e !important;
    color: white !important;
    border-color: #2e8b57 !important;
    outline: none !important;
}
/* Active state (clicking) */
.element-container:has(#button-after-basic) + div button:first-child:active {
    background-color: #1e1e1e !important;
    color: white !important;
    border-color: #2e8b57 !important;
}
    
/* ---------- link btns ---------- */
#button-after-link {
    display: none;
}
.element-container:has(#button-after-link) {
    display: none;
}
.element-container:has(#button-after-link) + div button:first-child {
    font-style: italic;
    font-weight: bold;
    }
.element-container:has(#button-after-link) + div button:first-child:hover {
    color: SteelBlue;
    font-style: italic;
    font-weight: bold;
}

/* ---------- Form btns ---------- */
#button-after-form {
    display: none;
}
.element-container:has(#button-after-form) {
    display: none;
} 
.element-container:has(#button-after-form) + div button:first-child {
    background-color: #0e1117;
    color: #1e1e1e;
    border-color: #2e8b57;
}
/* Hover state */
.element-container:has(#button-after-form) + div button:first-child:hover {
    background-color: #3cb371;
    color: #1e1e1e;
    border-color: #3cb371;
}