streamlit
requests
psycopg2-binary  # PostgreSQL connection
streamlit-scroll-to-top
streamlit-cookies-manager
streamlit_extras
flask_sqlalchemy
flask
python-dotenv
Authlib
flask_mail
scipy
pandas==2.1.4
streamlit-modal
st-theme
