google-generativeai
python-dotenv
pymupdf
faiss-cpu
chromadb==1.0.4
pysqlite3-binary
rank-bm25
thefuzz[speedup]
nltk
wordfreq
flask
requests
sentence-transformers==3.4.1
transformers>=4.50.0
torch
spacy
flask
flask-bcrypt
flask-sqlalchemy
flask-cors
psycopg2-binary
pandas